<template>
    <div class="about">
        <div class="col s6">
            <h2>Trivia Dragon Slayer</h2>
            <h3>A front-end game developed in VueJs by: Mario Vitale</h3>
            <h6>under MIT license</h6>
        </div>
    </div>
</template>
<style scoped>
    .about{
        font-size: 2em;
        text-align: center;

    }
</style>