<template>
    <div class="battlefield">
        <div class="row battle">
            <div class="col s6 ch">
                <span>
                    <SpeechBubble :message=to_say.dragon />
                    <img :src="getImg(dragon.image, 'dragon')" />    
                </span>
                <p class='player player2'>{{dragon.name}}</p>
                <div class="healthbar text-center player2">
                    <div class="progbar dragon" :style="stylebar('dragon')"></div>
                </div>
            </div>
            <div class="col s6 ch">
                <span>
                    <SpeechBubble :message=to_say.hero />
                    <img :src="getImg(hero.image, 'hero')" /> 
                </span>
                <p class='player player1'>{{hero.name}}</p>
                <div class="healthbar text-center player1">
                    <div class="progbar hero" :style="stylebar('hero')"></div>
                </div>
            </div>
        </div>
        <section class="row controls">
            <div class="small-12 columns" v-if="!isRunning">
                <button id="start" @click="start">Start</button>
            </div>
            <div class="small-12 columns" v-else>
                <button id="attack" @click="attack()" :disabled="fighting">Attack</button>
                <button id="heal" @click="heal()" :disabled="fighting" >Heal</button>
                <button id="giveup" @click="giveup()" >GiveUp</button>
            </div>
        </section>

<Trivia :current_trivia=current_trivia :action=action v-if="show_trivia" @submitted="doom"/>
    
</div>

</template>

<script>
import silhouette from '@/assets/characters/dragon-silhouette.png'
import dragons from '@/assets/characters/dragons.json'
import insults from '@/assets/Insults.json'
import questions from '@/assets/Trivia.json'
import Trivia from '@/components/Trivia'
import SpeechBubble from '@/components/SpeechBubble'



export default {
    name: 'Battlefield',
    components: {
        Trivia,
        SpeechBubble
    },
    data() {
        return {
            dragons: dragons,
            insults: insults,
            insult: {
                insult: "",
                reply: ""
            },
            to_say:{
                dragon: "",
                hero: ""
            },
            //can_insult: false,
            //can_reply: false,
            questions: questions,
            isRunning: false,
            show_trivia: false,
            current_trivia: null,
            action: null,
            dragon: {
                name: 'Dragon',
                image: silhouette
            },
            hero: {
               // image: silhouette
            },
            fighting: false,
            heroHealth: null,
            dragonHealth: null,
            
        }
    }, 

    created(){
        //Get the selected hero by the store
        this.hero = this.$store.getters.getHero;
    },


    methods: {
        stylebar (char) {
            if (char=='dragon'){
                return 'width: ' + (this.dragonHealth/this.dragon.life)*100 + '%';
            }
            else if (char=='hero'){
                return 'width: ' + (this.heroHealth/this.hero.life)*100 + '%';
            }
        },    
    
        getImg(image, who){
            if (this.dragon.name=="Dragon" && who == 'dragon'){
                console.log('silouhette');
                return image;
            }
            else {
                //console.log('decided ' + image);
                return require('@/assets/characters/' + image);
            }
        },
        start() {
            this.dragon = this.dragons[Math.floor(Math.random() * this.dragons.length)];
            console.log("new dragon: " + this.dragon.image);
            this.getImg(this.dragon.image);
            this.heroHealth = this.hero.life;
            this.dragonHealth = this.dragon.life;
            this.isRunning = true;
            this.show_trivia = false;
            this.fighting = false;
        },
        attack() {
            this.setTrivia();
            this.action="attack";
        },
        heal() {
            this.setTrivia();
            this.action="heal";
        },
        giveup(){
            this.isRunning = false;
            this.show_trivia = false;
        },
        setTrivia(){
            //this.can_reply = false;
            //this.can_insult = true;
            let id=Math.floor((Math.random()*this.questions.length));
            this.current_trivia = this.questions[id];
            this.show_trivia = true;
            this.fighting = true;
            this.insult = this.insults[Math.floor(Math.random() * this.insults.length)];
            this.to_say.dragon = this.insult.insult;
            this.to_say.hero = " ... ";
        },
        setInsult(){
            this.insult = this.insults[Math.floor(Math.random() * this.insults.length)];
             
        },
        doom(payload) {
            if (payload.result){
                if (payload.todo=="attack"){
                    //console.log('attack changes according to the character');
                    if(this.hero.attack=="Random"){
                        this.dragonHealth -= this.actionRandomVal(20,45);
                        console.log("random attack caused Dragon: " + this.dragonHealth);
                    }
                    else {
                        this.dragonHealth -= this.hero.attack;
                        console.log("hero attack " + this.hero.attack + " caused Dragon: " + this.dragonHealth);
                    }
                    console.log('Good job. Dragon life: ' + this.dragonHealth);
                    this.checkStatus('dragon');
                }
                else if (payload.todo=="heal"){
                    if(this.hero.heal=="Random"){
                        this.heroHealth += this.actionRandomVal(5,35);
                    }
                    else {
                        this.heroHealth += this.hero.heal;
                    }
                    if (this.heroHealth > this.hero.life){
                        this.heroHealth = this.hero.life;
                    }
                    console.log(this.hero.name + " healed. Health is: " + this.heroHealth);
                }
                this.to_say.hero=this.insult.reply;
            }
            else {
                //damage to hero + i'm the rubber you're the glue
                this.heroHealth -= (this.dragon.attack - this.hero.defense);
                console.log("Wrong choice, hero damaged of " + this.dragon.attack + " - " + this.hero.defense + ". His health is: " + this.heroHealth);
                //console.log('hero life: ' + this.heroHealth);
                this.to_say.hero = "I am rubber, you are glue";
                this.checkStatus('hero');
            }
            this.fighting = false;
            //this.can_reply = true;
        },

        actionRandomVal (min, max) {
            return Math.max(Math.floor(Math.random() * max) + 1, min);
        },

        checkStatus (character){
            if (character === "dragon"){
                if (this.dragonHealth<=0){
                    if (confirm('You won! New Game?')) {
                        this.start();
                    }
                    else {
                        this.giveup();
                    }
                    return false;
                }
            }
            else {
                if (this.heroHealth<=0){
                    if (confirm('You loose! New Game?')) {
                        this.start();
                    }
                    else {
                        this.giveup();
                    }
                    return true;
                }
            }
            return false;
        }
    }
    
}
</script>

<style lang="scss">
    .battlefield{
        background:navy;
        padding: 0.3em;
    }
    .msg{
        color: red;
        font-size: 1.5em;
        padding-bottom: 0.1em;
    }
    .rpl{
        color: darkgreen;
        font-size: 1.5em;
        font-style: italic;
        padding-bottom: 0em;
    }

    .battle{
        text-align: center;
        height: 300px;
    }

    img{
        height: 300px;
    }


    .healthbar {
        width: 100%;
        height: 100%;
        background-color: #eee;
        margin: auto;
        transition: width 500ms;
        border: 2px solid #eee;
        border-radius: 80px;
    }

    .progbar {
        width: 80%;
        height: 20px;
        
        color: white;
        border-radius: 80px;
    }

    .hero{
        background-color: teal;
        background-image: linear-gradient(green, yellow);
    }

    .dragon{
        background-color: red;
        background-image: linear-gradient(red, orange);
    }

    .player {
        font-size: 1.5em;
        text-align: center;
    }

    .player1 {
        color: darkgreen;
    }
    
    .player2 {
        color: red;

    }

    .image img {
        height: 300px;
    }

    .controls{
        text-align: center;
    }

    button {
        font-size: 20px;
        width: 20%;
        background-color: #eee;
        padding: 12px;
        box-shadow: 0 1px 1px black;
        margin: 10px;
        border: 2px solid #eee;
        border-radius: 30px;
        
    }

    #start {
        background-color: green;
    }

    #start:hover {
        background-color: #76ff7e;
    }

    #attack {
        background-color: red;
    }

    #attack:hover {
        background-color: crimson;
    }


    #heal {
        background-color: teal;
    }

    #heal:hover {
        background-color: thistle;
    }

    #giveup {
        background-color: white;
    }

    #giveup:hover {
        background-color: #eee;
    }
    
</style>