<template>
    <div class="character_selection">
        <h1>{{title}}</h1>
        <div class="msg">
            {{ message }}
            <a class="btn-floating btn-large waves-effect waves-light green" @click.prevent="setChar()">
                <i class="material-icons">play_arrow</i>
            </a>
        </div>
        <div class="row characters">
            <div class="col s4" v-for="(char, ndx) in characters" :key="ndx" > 
                <span class="image" @click="selected(char)">
                    <img :src="getImg(char.image)" />    
                </span>
                <span class="char_data">
                    <h2>{{char.name}}</h2> 
                    <li>Life: {{char.life}}</li> 
                    <li>Attack: {{char.attack}}</li> 
                    <li>Defense: {{char.defense}}</li> 
                    <li>Heal: {{char.heal}}</li> 
                </span>
            </div>
        </div>

    </div>
</template>

<script>
import chars from '@/assets/characters/characters.json'
export default {
    data(){
        return {
            title: 'Chose your hero',
            characters: chars,
            selectedChar: {
                name: null,
                image: null,
                life: null,
                attack: null,
                defense: null,
                heal: null
            },
            
            message: 'Click on image to chose your hero and play '
        }
    },
    methods: {
        getImg(image){
            return require('@/assets/characters/' + image);
        },
        selected(char){
            this.selectedChar = char;
            this.message = this.selectedChar.name + " ";
            
        },
        setChar(){
            if(!this.selectedChar.name){
                this.message = "You need a hero to go to war"
            }
            else {
                //store the value
                this.$store.dispatch('setHero', this.selectedChar);
                this.$router.push('/Battlefield');
            }
        }
       
    }
}
</script>

<style lang="scss">
    .character_selection{
        background-color: rgb(0, 66, 128);
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 11%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%);
        text-align: center;
        
    }
    h1{
        font-size: 7em;
        color: whitesmoke;
    }
    h2{
        color:yellowgreen;
    }
    li{
        list-style: none;
        color: darkgreen;
        font-size: 1.5em;
    }
    .msg{
        color: red;
        font-size: 3em;
        padding-bottom: 2em;
    }
    
    img{
        height: 300px;

    }


</style>