<template>
    <div class="cmdbar">
        <nav class="nav-extended indigo darken-2">
            <div class="nav-content">
                <router-link to="/">
                    <span class="nav-title step">Chose your hero</span>
                </router-link>
               
                <router-link to="/About">
                    <span class="nav-title right">About</span>
                </router-link>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    name:'Cmdbar',
    data(){
        return{

        }
    }
}
</script>

<style lang="scss">

.cmdbar .step{
    padding-right: 5em;
}

</style>