<template>
    <div class="speech-bubble" v-html="typeValue">
    </div>

</template>

<script>
    import {setTimeout} from 'timers';
    export default {
        name: 'SpeechBubble',
        props: ['message'],
        data: function() {
            return {
                typingSpeed: 50,
                typeValue: '...',
                charIndex: 0
            }
        },

          
        watch: { 
            message() {
                console.log(this.message);
                this.charIndex = 0;
                this.typeValue = '';
                this.typeText();
                //setTimeout(this.typeText, 10);
            }
        },
        methods: {
            typeText() {
                if(this.charIndex < this.message.length) {
                    this.typeValue += this.message.charAt(this.charIndex);
                    this.charIndex += 1;
                    setTimeout(this.typeText, this.typingSpeed);
                }
            }
        }
    }
</script>

<style lang="scss">
    .speech-bubble {
        position: relative;
        background: #00a9bb;
        border-radius: .4em;
        font-size: 1.5em;
       
    }.speech-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 30%;
        width: 0;
        height: 0;
        border: 51px solid transparent;
        border-top-color: #00a9bb;
        border-bottom: 0;
        border-left: 0;
        margin-left: -25.5px;
        margin-bottom: -51px; 
    }




    
    
</style>