<template>
  <div class="trivia" >
    <div class="question" v-html="fullQuestion" />
    
      <div class="row">
        <div class="answers" v-for="(answ, ndx) in answers" :key="ndx"> 
          <label class="col s6 opts">
            <input type="radio" class="with-gap" name="group1" id="ndx" :value="answ" v-model="choice" :disabled="!can_select">
            <span class="op" for="ndx" v-html="answ"></span>
          </label>
        </div>
      </div>
      <p>
        <button class="btn waves-effect waves-light" type="submit" name="action" @click.prevent="choosen()" :disabled="!choice">Submit
          <i class="material-icons right">send</i>
        </button>
      </p >
      <p v-html="timer"></p>
      <div class="timebar">
        <div class="tprogbar" :style="timebarstyle"></div>
      </div>
  </div>
</template>

<script>
  
  export default {
    name: 'Trivia',
    props: ['current_trivia', 'action'],
    data() {
      return {
        answers: [],
        choice: null,
        trivia_msg: null,
        can_select: true,
        qtime: 30,
        timer: null,
        tmid: null,
      }
    },
    watch: {
      current_trivia: function() {
        //console.log("changed")
        this.choice = null;
        this.set_answers();
        this.can_select = !this.can_select
       // this.timer = this.qtime;
      },
     
    },
    created(){
      this.set_answers();
    },
    methods: {
      set_answers(){
        //console.log('called set_asnwers');
        this.answers = [];
        this.current_trivia.incorrect_answers.forEach(element => {
          this.answers.push(element);
        });
        this.answers.push(this.current_trivia.correct_answer);
        this.answers = this.shuffle(this.answers);
        this.timer = this.qtime;
        this.startTimer();
      },
      shuffle(a){
         for (let i = a.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [a[i], a[j]] = [a[j], a[i]];
         }
        return a;
      },
      choosen(){
        //emit action and result
        if(this.choice) {
          if(this.choice == this.current_trivia.correct_answer){
            //console.log("correct choice, perform " + this.action);
            this.sendBackEvent('submitted',{result:true, todo:this.action});
          }
          else {
            //console.log("wrong choice");
            this.sendBackEvent('submitted', {result:false});
          }   
        }
      },

      sendBackEvent(event, obj) {
        clearInterval(this.tmid);
        this.timer = this.current_trivia.correct_answer;
        this.$emit(event, obj);
        this.choice = null;
        this.can_select = false;
        
      },

      startTimer() {
        this.tmid = setInterval(() => {
            if(this.timer >=1 ){
              this.timer--;
            }
            else {
              this.sendBackEvent('submitted',{result:false});
            }
          }, 1000);
      },
     
    },
    computed: {
      // add array shuffle here
      fullQuestion: {
        get() {
          return this.current_trivia.category + " - " + this.current_trivia.question;
        }
      },
      timebarstyle: {
        get() {
          return 'width: ' + (this.timer/this.qtime)*100 + '%';
        }
      }
    
    }

  }
</script>

<style lang="scss">
  .trivia {
    font-size: 2em;
    color: whitesmoke;
    text-align: center;
  }
  .opts{
    padding: 0.3em;
    font-size: 1em;
  }


    .timebar {
        width: 100%;
        height: 100%;
        background-color: #eee;
        margin: auto;
        transition: width 500ms;
        border: 2px solid #eee;
        border-radius: 80px;
    }

    .tprogbar {
        width: 80%;
        height: 20px;      
        color: white;
        border-radius: 80px;
        background-color: teal;
        background-image: linear-gradient(green, yellow);
    }
  

</style>
