<template>
  <div id="app">
    <Cmdbar />
    <router-view/>
  </div>
</template>

<script>
import Cmdbar from '@/components/Cmdbar.vue'

export default {
  name: 'App',
  data(){
    return {
      character: null
    }
  },
  components: {
    Cmdbar
  }
  
}
</script>

<style lang="scss">
  .app{
    background-color: rgb(208, 171, 223);
  }

</style>
